
.newswebsite {
    justify-content: center;
    display: flex;
    background-color: #87CEFA;
}

.newselement {
    padding: 25px;
    border: 1px solid;
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #FFFF;
}

.newsimage {
    width: 400px;
}